<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Training Consultant Org.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class=form-container>
    <form action="action_page.php">
      <div class="imgcontainer">
        <img src="logo.JPG" alt="TCO" class="avatar">
      </div>

      <div class="container">
        <div class="username">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div class="password">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <span class="psw"><a href="#">Forgot password?</a></span>

        </div>
        <div class="login">
          <button type="submit" class="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </div>

      <div class="container">
        <span class="psw-nu">New User?
          <a href="signup.html">Sign Up now!</a></span>
        <br>
      </div>
    </form>

    </form>
  </div>

</body>

</html>