<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
  <link rel="stylesheet" href="signup.css">
  <link rel="icon" href="favicon.ico">


</head>

<body>
  <form action="action_page.php">
    <div class="container">
      <div class="introduction">
        <h1>Registration </h1>
        <br>
        <p>Please fill in this form to get started with TCO.</p>
        <hr>
      </div>
      <div class="name">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>
      </div>
      <div class="email">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
      </div>
      <div class=" password">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
      </div>
      <div class="rep-psw">
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      </div>
      <div class="gender">
        <label for="gender"><b>Select Gender</b></label>
        <label class="container">Male
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>

        <label class="container">Female
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>

        <label class="container">Other
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
      </div>


      <p>By creating an account you agree to our <a href="#" style="color:#78BDC4">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</body>

</html>